*{
    margin: 0;
    padding: 0;
}

body {
    width: 1920px;
    height: 943px;
    background-color: #ffffff;
    backdrop-filter: blur(100px);
}

.menu__bar {
    display: inline-flex;
    width: 1170px;
    height: 40px;
    margin-top: 40px;
    margin-left: 375px;
    align-items: center;
}

.logo__image {
    width: 35px;
    height: 40px;
}

.logo__text {
    display: inline-flex;
    width: 88px;
    height: 30px;
    margin-left: 14px;
    padding-top: 10;
}

.logo__text1 {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logo__text2 {
    color: #F25822;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu {
    display: flex;
    width: 533px;
    height: 17px;
    justify-content: space-between;    
    margin-left: 346px;
}

.top__link1 {
    text-decoration: none;
    color: #F25822;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top__link2 {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button__menu {
    width: 120px;
    height: 40px;    
    border-radius: 30px;
    background: #F25822;
    color: #FFF;
    font-family: Gilroy-SemiBold;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 34px;
}

.main {
    display: inline-flex;
    width: 1171.71px;
    height: 537px;
    margin-left: 373px;
    margin-top: 82.71px;
}

.Info_text {
    width: 522px;
    height: 494px;
    margin-top: 15px;
}

h1 {
    width: 522px;
    height: 222px;    
    color: #000;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 60.3px;
}

.ellipse {
    margin-left: -21px;
    margin-top: -140px;
}

h3 {
    width: 466px;
    height: 48px;    
    color: #888;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 17px;
    margin-bottom: 37px;
}

.buttons {
    display: inline-flex;
    width: 374px;
    height: 50px;    
    justify-content: flex-start;
    align-items: center;
}

.button1 {
    width: 140px;
    height: 50px;    
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button2 {
    width: 90px;
    height: 19px;
    flex-shrink: 0;
    color: #AAA;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 15px;
}

.image {
    width: 544.814px;
    height: 374.843px;
    margin-left: 40.94px;
    margin-top: 15px;
}

.brand__logo {
    display: inline-flex;
    width: 1200px;
    height: 50px;
    margin-left: 345px;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
}

.brand {
    width: 160px;
    height: 50px;   
}