*{
    margin: 0;
    padding: 0;
}

.header {
    background: #222;
    height: 75px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.page {
    background: #F1E4E6;
}