*{
    margin: 0;
    padding: 0;
}

.header {
    background: #222;
    height: 75px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.center_page {
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.page {
    background: #F1E4E6;
    display: flex;
}

.page_text {
    display: flex;
    margin-left: 63.42px;
    margin-top: 290px;
    flex-wrap: wrap;
    align-content: flex-start;
}

.slogan {
    width: 377px;
    height: 93px;
    margin-left: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.subtitle {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.subtitle2 {
    color: #F16D7F;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.offer {
    margin-top: 65px;
    margin-bottom: 96px;
}

.people {
    display: flex;
    justify-content: space-between;
}

.women {
	display: flex;
    align-items: center;
    background-image: url(img/women.png);
}

.man {
	display: flex;
    align-items: center;
    background-image: url(img/men.png);
}

.kids {
	display: flex;
    align-items: center;
    background-image: url(img/kids.png);
}

.accesories {
	display: flex;
    align-items: center;
    background-image: url(img/accesories.png);
    margin-top: 30px;
}

.offer__img {
    position: relative;
    fill: rgba(33, 22, 22, 0.70);
}

.tekst_sverhu {
    position: absolute;
}

.subtitle_accesories {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title_accesories {
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}