*{
    margin: 0;
    padding: 0;
}

.header {
    background: #222;
    height: 75px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.center_page {
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.page {
    background: #F1E4E6;
    display: flex;
}

.page_text {
    display: flex;
    margin-left: 63.42px;
    margin-top: 290px;
    flex-wrap: wrap;
    align-content: flex-start;
}

.slogan {
    width: 377px;
    height: 93px;
    margin-left: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.subtitle {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.subtitle2 {
    color: #F16D7F;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.offer {
    margin-top: 65px;
    margin-bottom: 96px;
}

.people {
    display: flex;
    justify-content: space-between;
}

.women {
	display: flex;
    align-items: center;
    background-image: url(img/women.png);
    justify-content: center;
}

.man {
	display: flex;
    align-items: center;
    background-image: url(img/men.png);
    justify-content: center;
}

.kids {
	display: flex;
    align-items: center;
    background-image: url(img/kids.png);
    justify-content: center;
}

.accesories {
	display: flex;
    align-items: center;
    background-image: url(img/accesories.png);
    margin-top: 30px;
    justify-content: center;
}

.offer__img {
    position: relative;
    fill: rgba(33, 22, 22, 0.70);
}

.tekst_sverhu {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.subtitle_offer {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title_offer {
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_products {
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tekst_products {
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 6px;
}

.cards_products {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 360px);
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 48px;
}

.product {
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
}

.text_product {
    display: flex;
    flex-direction: column;
    fill: #F8F8F8;
    padding: 24px 16px;
    gap: 16px;
    background-color: rgba(248, 248, 248, 1);
}

.img_product2_fon {
    position: relative;
}

.img_product2 {
    position: absolute;
    padding-top: 9px;
}

.title_product {
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.desc_product {
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.price_product {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button {
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 15px 39px 14px;
    border-color: rgba(255, 106, 106, 1);  
    border-bottom-width: 1px;
    margin-bottom: 60px;
    background: #FFF;
}