.cart {
    margin-top: 96px;
    margin-bottom: 128px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__selected {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        width: 57%;

        &__product {
            display: flex;
            filter: drop-shadow(17px 19px 11px rgba(0, 0, 0, 0.13));

        }

        &__text {
            width: 390px;
            display: flex;
            flex-direction: column;
            fill: #F8F8F8;
            padding: 22px 22px 62px 31px;
            gap: 6px;
            background: #FFF;
        }

        &__top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 36px;

        }

        &__title {
            color: #222;
            font-family: Lato;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &__specifications {
            color: #575757;
            font-family: Lato;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &__price-value {
            color: #EF5B70;
            font-family: Lato;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &__color-value {
            color: #6F6E6E;
            font-family: Lato;
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &__quantity-value {

            color: #656565;
            font-family: Lato;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            width: 44px;
            height: 25px;
            margin-left: 24px;

            outline: 0;
            border: 1px solid #EAEAEA;
            text-align: center;

        }

        &__button {
            display: flex;
            margin-top: 32px;
            justify-content: center;
            gap: 192px;

            &_left,
            &_right {
                display: block;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #A4A4A4;
                font-size: 14px;
                background: #FFF;
                font-weight: 300;
                color: #000;
                font-family: Lato;
                font-style: normal;
                line-height: normal;
                transition: all 0.3s;

                &:hover {
                    color: white;
                    background-color: $colorDesign;
                    border-color: $colorDesign;
                }
            }

            &_left {
                width: 235px;
            }

            &_right {
                width: 225px;
            }
        }
    }

    &__purchase {
        display: flex;
        flex-direction: column;
        padding-left: 11%;

        &__head {
            margin-top: 17px;
            color: #222;
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }

        &__form {
            width: 360px;
            // height: 272px;
            margin-top: 20px;
            margin-bottom: 57px;
            display: flex;
            flex-direction: column;
            gap: 21px;
        }

        &__input {
            height: 44px;
            padding-left: 16px;
            border: 1px solid #A4A4A4;
        }

        &__input[type=text]::placeholder {
            color: #222;
            font-family: Lato;
            font-size: 13px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }

        &__input_color[type=text]::placeholder {
            color: #B1B1B1;
        }

        &__btn {
            background-color: rgba(255, 255, 255, 1);
            width: 102px;
            height: 35px;
            margin-top: 3px;
            border: 1px solid #A4A4A4;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #4A4A4A;
            font-family: Lato;
            font-size: 11px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            transition: all 0.3s;

            &:hover {
                color: white;
                background: $colorDesign;
                border-color: $colorDesign;
            }
        }

        &__confirmation {
            width: 360px;
            height: 214px;
            background-color: #F5F3F3;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            gap: 12px;
        }

        &__subtitle {
            padding-right: 34px;
            color: #4A4A4A;
            font-family: Lato;
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &__price {
            padding-right: 37px;
            color: #222;
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }

        &__price_color {
            color: $colorDesign;
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        &__button {
            width: 273px;
            height: 50px;
            margin-right: 43px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $colorDesign;
            color: #FFF;
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            transition: all 0.3s;

            &:hover {
                color: $colorDesign;
                background-color: white;
                border-style: solid;
                border-color: $colorDesign;
                height: 48px;
            }
        }
    }


}

@media (max-width: 1139px) {
    .cart {
        gap: 64px;

        &__selected {
            width: 96%;

            &__button {
                justify-content: center;
                gap: 49px;
            }
        }

        &__purchase {
            display: flex;
            flex-direction: row;
            padding-left: 0;
            align-items: center;
            gap: 16px;

            &__confirmation {
                margin-bottom: 30px;
            }
        }
    }
}

@media (max-width: 767px) {
    .cart {
        margin-top: 36px;
        margin-bottom: 96px;
        gap: 48px;

        &__selected {
            gap: 32px;

            &__img {
                max-width: 45%;
            }

            &__text {
                width: 214px;
                // width: 60%;
                padding: 13px 12px 38px 17px;
                gap: 4px;
            }

            &__top {
                margin-bottom: 25px;
            }

            &__title {
                font-size: 16px;
            }

            &__del svg {
                width: 10px;
                height: 11px;
            }

            &__specifications {
                font-size: 14px;
            }

            &__price-value {
                font-size: 14px;
            }

            &__color-value {
                font-size: 14px;
            }

            &__specifications svg {
                height: 14px;
            }

            &__quantity-value {
                font-size: 14px;
                margin-left: 15px;
                width: 24px;
                height: 15px;
            }

            &__button {
                gap: 9px;
                margin-top: 0;
            }

            &__button_left,
            &__button_right {
                height: 33px;
                font-size: 12px;
                width: 175px;
            }
        }

        &__purchase {
            flex-direction: column;
            gap: 48px;

            &__head {
                margin-top: 0;
            }

            &__form {
                margin-bottom: 0;
            }

            &__confirmation {
                margin-bottom: 0;
            }
        }
    }
}