.cart {
    margin-top: 96px;
    margin-bottom: 128px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__selected {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 57%;

        .cart-product {
            display: flex;
            filter: drop-shadow(17px 19px 11px rgba(0, 0, 0, 0.13));

            .cart-product__text {
                width: 390px;
                display: flex;
                flex-direction: column;
                fill: #F8F8F8;
                padding: 22px 22px 62px 31px;
                gap: 6px;
                background: #FFF;

                .cart-product__text_top {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 36px;

                    .cart-product__title {
                        color: #222;
                        font-family: Lato;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }

                .cart-product__specifications {
                    color: #575757;
                    font-family: Lato;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                .cart-product__price-value {
                    color: #EF5B70;
                    font-family: Lato;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                .cart-product__color-value {
                    color: #6F6E6E;
                    font-family: Lato;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                .cart-product__quantity-value {

                    color: #656565;
                    font-family: Lato;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    width: 44px;
                    height: 25px;
                    margin-left: 24px;

                    outline: 0;
                    border: 1px solid #EAEAEA;
                    text-align: center;

                }
            }
        }

        &_button {
            display: flex;
            margin-top: 32px;
            justify-content: space-between;

            .selected__button_left,
            .selected__button_right {
                display: block;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #A4A4A4;
                font-size: 14px;
                background: #FFF;
                font-weight: 300;
                color: #000;
                font-family: Lato;
                font-style: normal;
                line-height: normal;
                transition: all 0.3s;

                &:hover {
                    color: white;
                    background-color: $colorDesign;
                    border-color: $colorDesign;
                }
            }

            .selected__button_left {
                width: 235px;
            }

            .selected__button_right {
                width: 225px;
            }
        }
    }

    &__purchase {
        display: flex;
        flex-direction: column;
        padding-left: 11%;

        &__head {
            margin-top: 17px;
            color: #222;
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }

        &__form {
            width: 360px;
            // height: 272px;
            margin-top: 20px;
            margin-bottom: 57px;
            display: flex;
            flex-direction: column;
            gap: 21px;
        }

        &__input {
            height: 44px;
            padding-left: 16px;
            border: 1px solid #A4A4A4;
        }

        &__input[type=text]::placeholder {
            color: #222;
            font-family: Lato;
            font-size: 13px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }

        &__input_color[type=text]::placeholder {
            color: #B1B1B1;
        }

        &__btn {
            background-color: rgba(255, 255, 255, 1);
            width: 102px;
            height: 35px;
            margin-top: 3px;
            border: 1px solid #A4A4A4;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #4A4A4A;
            font-family: Lato;
            font-size: 11px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            transition: all 0.3s;

            &:hover {
                color: white;
                background: $colorDesign;
                border-color: $colorDesign;
            }
        }
    }


    .confirmation-form {
        width: 360px;
        height: 214px;
        background-color: #F5F3F3;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        gap: 12px;

        &__subtitle {
            padding-right: 34px;
            color: #4A4A4A;
            font-family: Lato;
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &__price {
            padding-right: 37px;
            color: #222;
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }

        &__price_color {
            color: $colorDesign;
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        &__btn {
            width: 273px;
            height: 50px;
            margin-right: 43px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $colorDesign;
            color: #FFF;
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            transition: all 0.3s;

            &:hover {
                color: $colorDesign;
                background-color: white;
                border-style: solid;
                border-color: $colorDesign;
                height: 48px;
            }
        }
    }

}