.filter-sort {
    height: 132px;
    position: relative;
    display: flex;
}

.filter {
    padding: 13px 16px 16px;
    position: absolute;
    top: 39px;
    z-index: 1;
    box-sizing: border-box;

    &[open] {
        background: #FFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        width: 360px;
    }

    &[open] .filter__heading {
        color: #EF5B70;
    }

    &__item[open] .filter__content-heading {
        color: #EF5B70;
    }

    &[open] path {
        fill: #EF5B70;
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 11px;
    }

    &__heading {
        color: #000;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    &__item {
        margin-top: 16px;
    }

    &__content-heading {
        color: #6F6E6E;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid #EBEBEB;
        border-left: 5px solid $colorSelectSite;
    }

    &__link-box {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 24px 16px 8px 16px;
    }

    &__link {
        color: #6F6E6E;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        &:hover {
            color: $colorSelectSite;
        }
    }
}

.sort {
    margin-left: 390px;
    margin-top: 51px;
    display: flex;
    gap: 18px;

    &__summary {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__heading {
        color: #6F6E6E;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 8px;
        background: #FFF;
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
        padding: 7px 30px 11px 9px;
        position: absolute;
        z-index: 1;
        left: -9px;
        top: 20px;
    }

    &__check {
        display: flex;
        gap: 9px;
        align-items: center;
        color: #6F6E6E;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.products {
    &__catalog {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(auto-fit, 360px);
        justify-content: center;
        margin-bottom: 48px;
    }

    &__title {
        color: #222;
        font-family: Lato;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
    }

    &__tekst {
        color: #9F9F9F;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 6px;
        text-align: center;
    }

    &__cards {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(auto-fit, 360px);
        justify-content: center;
        margin-top: 48px;
        margin-bottom: 48px;
    }

    &__product {
        display: flex;
        justify-items: center;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    &__product__text {
        display: flex;
        flex-direction: column;
        fill: #F8F8F8;
        padding: 24px 16px;
        gap: 16px;
        background-color: rgba(248, 248, 248, 1);
    }

    &__product:hover &__product__img {
        -webkit-filter: brightness(0.5);
        filter: brightness(0.5);
    }

    &__product:hover &__product__add {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    &__product__add {
        position: absolute;
        top: 188px;
        left: 111px;
        border: 1px solid #fff;
        width: 139px;
        height: 44px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        display: none;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        gap: 11px;
        color: #FFFFFF;
    }

    &__product__add:hover {
        -webkit-box-shadow: 0 0 5px #fff;
        box-shadow: 0 0 5px #fff;
    }

    &__product__add:hover svg path {
        fill: #F16D7F;
    }

    &__product__img2_fon {
        position: relative;
    }

    &__product__img2 {
        position: absolute;
        padding-top: 9px;
    }

    &__product__title {
        color: #000;
        font-family: Lato;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__product__desc {
        color: #5D5D5D;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    &__product__price {
        color: #F16D7F;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.products__nav {
    margin-top: 48px;
    margin-bottom: 96px;
    gap: 16px;
    border: 1px solid #EBEBEB;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 284px;
    height: 43px;
    margin-left: calc(50% - 142px);
    margin-right: calc(50% - 142px);
    background-color: #FFF;

    text-align: center;
    text-decoration: none;

    &__link {
        color: #C4C4C4;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    &__link-open {
        color: $colorSelectSite;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
}

@media (max-width: 1139px) {
    .sort {
        margin-left: 456px;
    }
}

@media (max-width: 767px) {
    .sort {
        margin-left: 107px;
    }

    .filter__heading {
        display: none;
    }

    .filter__summary svg {
        width: 37px;
        height: 25px;
    }
}