.image__slide {
    background-color: rgba(247, 247, 247, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.productDescription-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-left: calc(50% - 570px);
    // margin-right: calc(50% - 570px);
    padding-top: 64.54px;
    padding-bottom: 64.5px;
    transform: translateY(-65px);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #EAEAEA;

    .title__description {
        color: #F16D7F;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-bottom: 12px;
    }

    .subtitle__description {
        color: #4D4D4D;
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-top: 12px;
    }

    .text__description {
        color: #5E5E5E;
        text-align: center;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        max-width: 555px;
        margin-top: 48.4px;
        margin-bottom: 32.3px;
    }

    .price__description {
        color: #EF5B70;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-bottom: 65px;
    }

    .sort__description {
        margin-top: 65px;
        margin-bottom: 48.4px;
        display: flex;
        color: #6F6E6E;
        gap: 23px;

        .sort__parameter {
            font-family: Lato;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    .product__add__description {
        display: flex;
        top: 188px;
        left: 111px;
        border: 1px solid #FF6A6A;
        width: 212px;
        height: 48px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 17px;
        align-items: center;
        justify-content: center;
        gap: 11px;
        color: #F26376;
    }
}


.products {
    &__title {
        color: #222;
        font-family: Lato;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
    }

    &__tekst {
        color: #9F9F9F;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 6px;
        text-align: center;
    }

    &__cards {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(auto-fit, 360px);
        justify-content: center;
        margin-top: 48px;
        margin-bottom: 48px;
    }

    &__product {
        display: flex;
        justify-items: center;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    &__product__text {
        display: flex;
        flex-direction: column;
        fill: #F8F8F8;
        padding: 24px 16px;
        gap: 16px;
        background-color: rgba(248, 248, 248, 1);
    }

    &__product:hover &__product__img {
        -webkit-filter: brightness(0.5);
        filter: brightness(0.5);
    }

    &__product:hover &__product__add {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    &__product__add {
        position: absolute;
        top: 188px;
        left: 111px;
        border: 1px solid #fff;
        width: 139px;
        height: 44px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        display: none;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        gap: 11px;
        color: #FFFFFF;
    }

    &__product__add:hover {
        -webkit-box-shadow: 0 0 5px #fff;
        box-shadow: 0 0 5px #fff;
    }

    &__product__add:hover svg path {
        fill: #F16D7F;
    }

    &__product__img2_fon {
        position: relative;
    }

    &__product__img2 {
        position: absolute;
        padding-top: 9px;
    }

    &__product__title {
        color: #000;
        font-family: Lato;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__product__desc {
        color: #5D5D5D;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    &__product__price {
        color: #F16D7F;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media (max-width: 1139px) {}

@media (max-width: 747px) {

    .text__description {
        max-width: 326px;
    }

    .sort__parameter {
        font-size: 10px;
    }
}