.reg {
    display: flex;
    gap: 128px;
    margin-top: 64px;
    margin-bottom: 96px;
    // --- data ---

    &__data {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__datahead {
        padding-bottom: 16px;
        color: #222;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    &__input {
        width: 360px;
        height: 44px;
        margin-top: 5px;
        margin-bottom: 16px;
        padding-left: 17px;
        stroke-width: 1px;
        stroke: #A4A4A4;
        border: 1px solid #A4A4A4;
    }

    &__input::placeholder,
    &__datanote {
        color: #B1B1B1;
        font-family: Lato;
        font-size: 13px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    &__datanote {
        width: 360px;
    }

    &__boxchecks {
        width: 132px;
        height: 17px;
        display: flex;
        gap: 20px;
    }

    &__checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    &__label {
        color: #000;
        font-size: 11px;

        font-weight: 300;
        display: inline-flex;
        align-items: center;
        user-select: none;
    }

    // &__label::before {
    //     padding-right: 10px;
    //     content: url(img/reg/circle.svg);
    // }

    &__label::before {
        content: '';
        display: inline-block;
        width: 17px;
        height: 17px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #A4A4A4;
        border-radius: 50%;
        margin-right: 10px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% %50%;
    }

    &__checkbox:checked+label::before {
        border-color: $colorDesign;
        background-color: $colorDesign;
    }

    &__checkbox:checked+label {
        color: $colorDesign;
    }

    &__button {
        margin-top: 7px;
        width: 167px;
        height: 50px;
        border: 1px solid #222;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;

        font-size: 14px;
        color: #FFF;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-weight: 400;
        background-color: $colorDesign;
        border-color: $colorDesign;
        transition: all 0.3s;
    }

    &__button:hover {
        color: #222;
        background-color: white;
        // border-color: $colorDesign;
    }

    &__button:hover path {
        fill: #222;
    }

    // --- info ---

    &__info {
        display: flex;
        flex-direction: column;
        gap: 21px;
    }

    &__infohead,
    &__infonote,
    &__li {
        color: #000;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        font-weight: 300;
    }

    &__ul {
        list-style-type: none;
    }

    &__li:not(:last-child) {
        padding-bottom: 16px;
    }

    &__li::before {
        padding-right: 23px;
        content: url(img/Vector.svg);
    }
}