.cart {
  margin-top: 96px;
  margin-bottom: 128px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cart__selected {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 57%;
}
.cart__selected .cart-product {
  display: flex;
  filter: drop-shadow(17px 19px 11px rgba(0, 0, 0, 0.13));
}
.cart__selected .cart-product .cart-product__text {
  width: 390px;
  display: flex;
  flex-direction: column;
  fill: #F8F8F8;
  padding: 22px 22px 62px 31px;
  gap: 6px;
  background: #FFF;
}
.cart__selected .cart-product .cart-product__text .cart-product__text_top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}
.cart__selected .cart-product .cart-product__text .cart-product__text_top .cart-product__title {
  color: #222;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart__selected .cart-product .cart-product__text .cart-product__specifications {
  color: #575757;
  font-family: Lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart__selected .cart-product .cart-product__text .cart-product__price-value {
  color: #EF5B70;
  font-family: Lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart__selected .cart-product .cart-product__text .cart-product__color-value {
  color: #6F6E6E;
  font-family: Lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart__selected .cart-product .cart-product__text .cart-product__quantity-value {
  color: #656565;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 44px;
  height: 25px;
  margin-left: 24px;
  outline: 0;
  border: 1px solid #EAEAEA;
  text-align: center;
}
.cart__selected_button {
  display: flex;
  margin-top: 32px;
  justify-content: space-between;
}
.cart__selected_button .selected__button_left,
.cart__selected_button .selected__button_right {
  display: block;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #A4A4A4;
  font-size: 14px;
  background: #FFF;
  font-weight: 300;
  color: #000;
  font-family: Lato;
  font-style: normal;
  line-height: normal;
  transition: all 0.3s;
}
.cart__selected_button .selected__button_left:hover,
.cart__selected_button .selected__button_right:hover {
  color: white;
  background-color: #F16D7F;
  border-color: #F16D7F;
}
.cart__selected_button .selected__button_left {
  width: 235px;
}
.cart__selected_button .selected__button_right {
  width: 225px;
}
.cart__purchase {
  display: flex;
  flex-direction: column;
  padding-left: 11%;
  gap: 57px;
}
.cart__purchase .address__form {
  width: 360px;
  height: 272px;
  margin-top: 17px;
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.cart__purchase .address__form .address__form_head {
  color: #222;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.cart__purchase .address__form .address__form_text {
  height: 44px;
  padding-left: 16px;
  border: 1px solid #A4A4A4;
}
.cart__purchase .address__form .address__form_text[type=text]::-moz-placeholder {
  color: #222;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.cart__purchase .address__form .address__form_text[type=text]::placeholder {
  color: #222;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.cart__purchase .address__form .grey[type=text]::-moz-placeholder {
  color: #B1B1B1;
}
.cart__purchase .address__form .grey[type=text]::placeholder {
  color: #B1B1B1;
}
.cart__purchase .address__form .form__link {
  background-color: rgb(255, 255, 255);
  width: 102px;
  height: 35px;
  margin-top: 3px;
  border: 1px solid #A4A4A4;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4A4A4A;
  font-family: Lato;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  transition: all 0.3s;
}
.cart__purchase .address__form .form__link:hover {
  color: white;
  background: #F16D7F;
  border-color: #F16D7F;
}
.cart__purchase .confirmation__form {
  width: 360px;
  height: 214px;
  background-color: #F5F3F3;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 12px;
}
.cart__purchase .confirmation__form .sub_total {
  padding-right: 34px;
  color: #4A4A4A;
  font-family: Lato;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart__purchase .confirmation__form .grand_total {
  padding-right: 37px;
  color: #222;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.cart__purchase .confirmation__form .grand_total_Design {
  color: #F16D7F;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.cart__purchase .confirmation__form .check_button {
  width: 273px;
  height: 50px;
  margin-right: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F16D7F;
  color: #FFF;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  transition: all 0.3s;
}
.cart__purchase .confirmation__form .check_button:hover {
  color: #F16D7F;
  background-color: white;
  border-style: solid;
  border-color: #F16D7F;
  height: 48px;
}

* {
  margin: 0;
  padding: 0;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  /* max-width: 1600px; */
  margin: 0 auto;
  position: relative;
  /* overflow: hidden; */
}

.header {
  min-height: 75px;
  background: #222222;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 41px;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 33px;
}

.shop {
  position: relative;
}

.shop::after {
  content: "5";
  color: white;
  font-size: 13px;
  position: absolute;
  top: -9px;
  left: 20px;
  background: #f16d7f;
  text-align: center;
  border-radius: 50%;
  width: 19px;
  height: 19px;
}

img {
  max-width: 100%;
}

.top {
  position: relative;
  overflow: hidden;
}

/* .container {
    max-width: 1140px;
    margin: 0 auto;
} */
.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header__checkbox {
  position: absolute;
  visibility: hidden;
  left: -9999999px;
}

.header__checkbox:checked ~ .mobile-menu {
  right: 0;
}

.mobile-menu {
  position: absolute;
  top: 75px;
  right: -232px;
  z-index: 1;
  transition: right 0.6s;
  width: 232px;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 32px;
  box-sizing: border-box;
}
.mobile-menu__link-site {
  align-items: center;
  justify-content: space-around;
  background-color: #e8e8e8;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 24px;
  display: none;
}
.mobile-menu__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.mobile-menu__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.mobile-menu__link:hover {
  color: #F16D7F;
}
.mobile-menu__title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}
.mobile-menu__list {
  list-style-type: none;
  padding-left: 21px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-top: 12px;
}
.mobile-menu__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 24px;
}

.head__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F8F3F4;
  min-height: 148px;
}
.head__nav__heading {
  color: #F16D7F;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.head__nav__right .breadcrumbs__ul {
  list-style-type: none;
  display: flex;
}
.head__nav__right .breadcrumbs__li:not(:last-child)::after {
  content: "/";
  padding-left: 8px;
  padding-right: 8px;
  color: #636363;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.head__nav__right .breadcrumbs__link {
  color: #636363;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.head__nav__right .breadcrumbs__li:last-child .breadcrumbs__link {
  color: #F16D7F;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.filter-sort {
  height: 132px;
  position: relative;
  display: flex;
}

.filter {
  padding: 13px 16px 16px;
  width: 360px;
  position: absolute;
  top: 39px;
  z-index: 1;
  box-sizing: border-box;
}
.filter[open] {
  background: #FFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter[open] .filter__heading {
  color: #EF5B70;
}
.filter__item[open] .filter__content-heading {
  color: #EF5B70;
}
.filter[open] path {
  fill: #EF5B70;
}
.filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
}
.filter__heading {
  color: #000;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.filter__item {
  margin-top: 16px;
}
.filter__content-heading {
  color: #6F6E6E;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid #EBEBEB;
  border-left: 5px solid #EF5B70;
}
.filter__link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px 8px 16px;
}
.filter__link {
  color: #6F6E6E;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.filter__link:hover {
  color: #EF5B70;
}

.sort {
  margin-left: 390px;
  margin-top: 51px;
  display: flex;
  gap: 18px;
}
.sort__summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sort__heading {
  color: #6F6E6E;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sort__box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: #FFF;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  padding: 7px 30px 11px 9px;
  position: absolute;
  z-index: 1;
  left: -9px;
  top: 20px;
}
.sort__check {
  display: flex;
  gap: 9px;
  align-items: center;
  color: #6F6E6E;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.image__slide {
  background-color: rgb(247, 247, 247);
  display: flex;
  justify-content: center;
  align-items: center;
}

.productDescription-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: calc(50% - 570px);
  margin-right: calc(50% - 570px);
  padding-top: 64.54px;
  padding-bottom: 64.5px;
  transform: translateY(-65px);
  background-color: rgb(255, 255, 255);
  border: 1px solid #EAEAEA;
}
.productDescription-box .title__description {
  color: #F16D7F;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 12px;
}
.productDescription-box .subtitle__description {
  color: #4D4D4D;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 12px;
}
.productDescription-box .text__description {
  color: #5E5E5E;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  max-width: 555px;
  margin-top: 48.4px;
  margin-bottom: 32.3px;
}
.productDescription-box .price__description {
  color: #EF5B70;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 65px;
}
.productDescription-box .sort__description {
  margin-top: 65px;
  margin-bottom: 48.4px;
  display: flex;
  color: #6F6E6E;
  gap: 23px;
}
.productDescription-box .sort__description .sort__parameter {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.productDescription-box .product__add__description {
  display: flex;
  top: 188px;
  left: 111px;
  border: 1px solid #FF6A6A;
  width: 212px;
  height: 48px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  align-items: center;
  justify-content: center;
  gap: 11px;
  color: #F26376;
}

.page {
  background: #F1E4E6;
  display: flex;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}

.page_img {
  width: 50%;
  /* min-height: 764px; */
  background-size: cover;
  background-position: center;
  /* background-image: url(img/Layer_57-removebg-preview\ 1.svg); */
}

.page_text {
  width: 50%;
  /* display: flex; */
  /* margin-left: 63.42px;
  margin-top: 290px; */
  padding-left: 7.62%;
  /* padding-top: 37.95%; */
  /* flex-wrap: wrap;
  align-content: flex-start; */
}

.slogan {
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  margin-top: 37.95%;
  /* width: 377px;
  height: 93px;
  margin-left: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */
}

.title {
  color: #222;
  font-family: Lato;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.subtitle {
  color: #222;
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.slogan__fashion {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #F16D7F;
}

/* .subtitle2 {
    color: #F16D7F;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
} */
.offer {
  margin-top: 65px;
  margin-bottom: 96px;
}

.people {
  display: flex;
  justify-content: space-between;
  gap: 2.63%;
  /* width: 31.58%; */
}

.women {
  display: flex;
  align-items: center;
  background-image: url(img/women.png);
  justify-content: center;
  width: 31.58%;
}

.man {
  display: flex;
  align-items: center;
  background-image: url(img/men.png);
  justify-content: center;
  width: 31.58%;
}

.kids {
  display: flex;
  align-items: center;
  background-image: url(img/kids.png);
  justify-content: center;
  width: 31.58%;
}

.accesories {
  min-height: 180px;
  display: flex;
  align-items: center;
  /* background-image: url(img/accesories.png); */
  background: linear-gradient(to right, transparent 0%, rgba(33, 22, 22, 0.7) 0), url(img/accesories.png);
  margin-top: 2.7%;
  justify-content: center;
}

.offer__img {
  position: relative;
  fill: rgba(33, 22, 22, 0.7);
}

.tekst_sverhu {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.subtitle_offer {
  color: #FFF;
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.title_offer {
  color: #F16D7F;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* .products {
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.title_products {
  color: #222;
  font-family: Lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.tekst_products {
  color: #9F9F9F;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 6px;
  text-align: center;
}

.cards_products {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, 360px);
  justify-content: center;
  margin-top: 48px;
  margin-bottom: 48px;
}

.cards_products_catalog {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, 360px);
  justify-content: center;
  margin-bottom: 48px;
}

.product {
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.text_product {
  display: flex;
  flex-direction: column;
  fill: #F8F8F8;
  padding: 24px 16px;
  gap: 16px;
  background-color: rgb(248, 248, 248);
}

.product:hover .img_product {
  filter: brightness(0.5);
}

.product:hover .product__add {
  display: flex;
}

.product__add {
  position: absolute;
  top: 188px;
  left: 111px;
  border: 1px solid #fff;
  width: 139px;
  height: 44px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 11px;
  color: #FFFFFF;
}

.product__add:hover {
  box-shadow: 0 0 5px #fff;
}

.product__add:hover svg path {
  fill: #F16D7F;
}

.img_product2_fon {
  position: relative;
}

.img_product2 {
  position: absolute;
  padding-top: 9px;
}

.title_product {
  color: #000;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.desc_product {
  color: #5D5D5D;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.price_product {
  color: #F16D7F;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.products__nav {
  margin-top: 48px;
  margin-bottom: 96px;
  gap: 16px;
  border: 1px solid #EBEBEB;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 284px;
  height: 43px;
  margin-left: calc(50% - 142px);
  margin-right: calc(50% - 142px);
  background-color: #FFF;
  text-align: center;
  text-decoration: none;
}
.products__nav__link {
  color: #C4C4C4;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.products__nav__link-open {
  color: #EF5B70;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.feature-box {
  min-height: 341px;
  background-color: #222224;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.feature {
  min-height: 134px;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature__head {
  padding-top: 28px;
  padding-bottom: 16px;
  color: #FBFBFB;
  font-size: 19.96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.feature__text {
  color: #FBFBFB;
  text-align: center;
  font-size: 13.972px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.subscribe-box {
  min-height: 448px;
  background: linear-gradient(to right, transparent 0%, rgba(244, 244, 244, 0.7) 0), url(img/Layer\ 41.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.subscribe-info {
  min-height: 225px;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.subscribe-info__text {
  min-height: 99px;
  color: #222224;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subscribe-info__txt {
  font-style: italic;
}

.subscribe {
  min-height: 142px;
  max-width: 557px;
}

.subscribe__head {
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 167.2%;
  /* 40.128px */
}

.subscribe__text {
  color: #222224;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.2%;
}

.subscribe__email {
  padding-top: 32px;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.input__bg {
  height: 49px;
  width: 256px;
  background-image: url(img/Rounded\ Rectangle\ 5.svg);
}

.button__bg {
  height: 49px;
  width: 100px;
  background-image: url(img/Rounded\ Rectangle\ 5\ copy.svg);
}

.form__input {
  width: 170px;
  height: 36px;
  margin-top: 7px;
  margin-right: 64px;
  margin-bottom: 6px;
  margin-left: 22px;
  background-color: #E1E1E1;
  border: 1px solid #E1E1E1;
  color: #222224;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form__button {
  width: 85px;
  height: 36px;
  margin-top: 7px;
  margin-right: 7px;
  margin-bottom: 6px;
  margin-left: 8px;
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form__button:hover {
  color: blue;
}

.form__button:active {
  color: black;
}

.copyright-box {
  min-height: 79px;
  background-color: #222224;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.copyright__txt {
  min-height: 19px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #FBFBFB;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.icons {
  min-height: 32px;
  padding-top: 24px;
  padding-bottom: 23px;
  display: flex;
  align-items: center;
  gap: 7px;
}

.social__link {
  min-height: 32px;
  width: 32px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link:hover {
  background-color: #F16D7F;
}

.social__link:hover path {
  fill: white;
}

@media screen and (min-width: 768px) and (max-width: 1139px) {
  .accesories {
    min-height: 116px;
  }
  .header {
    padding-left: 32px;
    padding-right: 18px;
  }
  .page {
    background: #F1E4E6;
    display: flex;
    max-width: 1140px;
  }
  .feature-box {
    padding-top: 48px;
    padding-bottom: 64px;
    flex-direction: column;
    gap: 48px;
  }
  .subscribe-box {
    padding-top: 64px;
    padding-bottom: 140px;
    flex-direction: column;
    gap: 48px;
  }
  /* .page_img {
      min-height: 368px;
  } */
}
@media screen and (max-width: 767px) {
  .header {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header__link-site {
    display: none;
  }
  .page {
    /* background: #F1E4E6;
    display: flex;
    max-width: 1140px; */
    min-height: 363px;
  }
  .page_img {
    display: none;
  }
  /* .page_text { */
  /* width: 100%; */
  /* display: flex; */
  /* padding-left: 14.93%; */
  /* padding-top: 37.95%; */
  /* } */
  .page_text {
    width: 100%;
    display: flex;
    /* padding-left: 14.93%; */
    /* padding-top: 37.95%; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }
  .slogan {
    margin-top: 0;
  }
  /* .page_text { */
  /* width: 50%; */
  /* display: flex; */
  /* padding-left: 7.62%; */
  /* padding-top: 37.95%; */
  /* } */
  .title {
    font-size: 38px;
  }
  .subtitle {
    font-size: 20px;
  }
  .slogan__fashion {
    font-size: 20px;
    line-height: normal;
  }
  .people {
    /* display: flex;
    justify-content: space-between;
    gap: 2.63%; */
    /* width: 31.58%; */
    flex-wrap: wrap;
    gap: 32px;
  }
  .women {
    /* display: flex;
    align-items: center;
    background-image: url(img/women.png);
    justify-content: center; */
    width: 100%;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
  }
  .man {
    /* display: flex;
    align-items: center; */
    /* background-image: url(img/men.png); */
    /* justify-content: center; */
    width: 100%;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
  }
  .kids {
    /* display: flex;
    align-items: center;
    background-image: url(img/kids.png);
    justify-content: center; */
    width: 100%;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
  }
  .accesories {
    min-height: 111px;
    background-position-x: center;
    background-size: cover;
    margin-top: 32px;
    margin-left: calc(50% - 179px);
    margin-right: calc(50% - 179px);
  }
  .acces {
    min-height: 111px;
  }
  .offer {
    margin-bottom: 64px;
  }
  .feature-box {
    padding-top: 48px;
    padding-bottom: 81px;
    flex-direction: column;
    gap: 47px;
  }
  .subscribe-box {
    padding-top: 64px;
    padding-bottom: 110px;
    flex-direction: column;
    gap: 59px;
  }
  .copyright-box {
    padding-top: 43px;
    padding-bottom: 9px;
    flex-direction: column-reverse;
    gap: 40px;
  }
}/*# sourceMappingURL=style.css.map */