@import 'vars';
@import 'registration';
@import 'cart';

* {
    margin: 0;
    padding: 0;
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    /* max-width: 1600px; */
    margin: 0 auto;
    position: relative;
    /* overflow: hidden; */
}

.header {
    min-height: 75px;
    background: #222222;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    &__left {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 41px;
    }

    &__right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 33px;
    }
}

.shop {
    position: relative;
}

.shop::after {
    content: "5";
    color: white;
    font-size: 13px;
    position: absolute;
    top: -9px;
    left: 20px;
    background: #f16d7f;
    text-align: center;
    border-radius: 50%;
    width: 19px;
    height: 19px;
}

img {
    max-width: 100%;
}

// .top {
//     position: relative;
//     overflow: hidden;
// }

/* .container {
    max-width: 1140px;
    margin: 0 auto;
} */

.center {
    padding-left: calc(50% - $siteWidth / 2);
    padding-right: calc(50% - $siteWidth / 2);
}

.header__checkbox {
    position: absolute;
    visibility: hidden;
    left: -9999999px;
}

.header__checkbox:checked~.mobile-menu {
    right: 0;
}

.mobile-menu {
    position: absolute;
    top: 75px;
    right: -232px;
    z-index: 1;
    -webkit-transition: right 0.6s;
    transition: right 0.6s;
    width: 232px;
    background: #FFFFFF;
    -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 32px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    &__link-site {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        background-color: #e8e8e8;
        padding: 8px;
        border-radius: 10px;
        margin-bottom: 24px;
        display: none;
    }

    &__heading {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }

    &__link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
    }

    &__link:hover {
        color: #F16D7F;
    }

    &__title {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #F16D7F;
    }

    &__list {
        list-style-type: none;
        padding-left: 21px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 11px;
        margin-top: 12px;
    }

    &__box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 20px;
        margin-top: 24px;
    }
}


.head__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F8F3F4;
    min-height: 148px;

    &__heading {
        color: #F16D7F;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__right {
        .breadcrumbs__ul {
            list-style-type: none;
            display: flex;
        }

        .breadcrumbs__li:not(:last-child)::after {
            content: '/';
            padding-left: 8px;
            padding-right: 8px;
            color: #636363;
            font-family: Lato;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }

        .breadcrumbs__link {
            color: #636363;
            font-family: Lato;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }

        .breadcrumbs__li:last-child .breadcrumbs__link {
            color: #F16D7F;
            font-family: Lato;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
}

.filter-sort {
    height: 132px;
    position: relative;
    display: flex;
}

.filter {
    padding: 13px 16px 16px;
    width: 360px;
    position: absolute;
    top: 39px;
    z-index: 1;
    box-sizing: border-box;

    &[open] {
        background: #FFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }

    &[open] .filter__heading {
        color: #EF5B70;
    }

    &__item[open] .filter__content-heading {
        color: #EF5B70;
    }

    &[open] path {
        fill: #EF5B70;
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 11px;
    }

    &__heading {
        color: #000;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    &__item {
        margin-top: 16px;
    }

    &__content-heading {
        color: #6F6E6E;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid #EBEBEB;
        border-left: 5px solid $colorSelectSite;
    }

    &__link-box {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 24px 16px 8px 16px;
    }

    &__link {
        color: #6F6E6E;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        &:hover {
            color: $colorSelectSite;
        }
    }
}

.sort {
    margin-left: 390px;
    margin-top: 51px;
    display: flex;
    gap: 18px;

    &__summary {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__heading {
        color: #6F6E6E;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 8px;
        background: #FFF;
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
        padding: 7px 30px 11px 9px;
        position: absolute;
        z-index: 1;
        left: -9px;
        top: 20px;
    }

    &__check {
        display: flex;
        gap: 9px;
        align-items: center;
        color: #6F6E6E;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.image__slide {
    background-color: rgba(247, 247, 247, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.productDescription-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: calc(50% - 570px);
    margin-right: calc(50% - 570px);
    padding-top: 64.54px;
    padding-bottom: 64.5px;
    transform: translateY(-65px);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #EAEAEA;

    .title__description {
        color: #F16D7F;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-bottom: 12px;
    }

    .subtitle__description {
        color: #4D4D4D;
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-top: 12px;
    }

    .text__description {
        color: #5E5E5E;
        text-align: center;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        max-width: 555px;
        margin-top: 48.4px;
        margin-bottom: 32.3px;
    }

    .price__description {
        color: #EF5B70;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-bottom: 65px;
    }

    .sort__description {
        margin-top: 65px;
        margin-bottom: 48.4px;
        display: flex;
        color: #6F6E6E;
        gap: 23px;

        .sort__parameter {
            font-family: Lato;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    .product__add__description {
        display: flex;
        top: 188px;
        left: 111px;
        border: 1px solid #FF6A6A;
        width: 212px;
        height: 48px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 17px;
        align-items: center;
        justify-content: center;
        gap: 11px;
        color: #F26376;
    }
}

.page {
    background: #F1E4E6;
    display: flex;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.page_img {
    width: 50%;
    /* min-height: 764px; */
    background-size: cover;
    background-position: center;
    /* background-image: url(img/Layer_57-removebg-preview\ 1.svg); */
}

.page_text {
    width: 50%;
    /* display: flex; */
    /* margin-left: 63.42px;
    margin-top: 290px; */
    padding-left: 7.62%;
    /* padding-top: 37.95%; */
    /* flex-wrap: wrap;
    align-content: flex-start; */
}

.slogan {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    margin-top: 37.95%;
    /* width: 377px;
    height: 93px;
    margin-left: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
}

.title {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.subtitle {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.slogan__fashion {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #F16D7F;
}

/* .subtitle2 {
    color: #F16D7F;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
} */

.offer {
    margin-top: 65px;
    margin-bottom: 96px;
}

.people {
    display: flex;
    justify-content: space-between;
    gap: 2.63%;
    /* width: 31.58%; */
}

.women {
    display: flex;
    align-items: center;
    background-image: url(img/women.png);
    justify-content: center;
    width: 31.58%;
}

.man {
    display: flex;
    align-items: center;
    background-image: url(img/men.png);
    justify-content: center;
    width: 31.58%;
}

.kids {
    display: flex;
    align-items: center;
    background-image: url(img/kids.png);
    justify-content: center;
    width: 31.58%;
}

.accesories {
    min-height: 180px;
    display: flex;
    align-items: center;
    /* background-image: url(img/accesories.png); */
    background: linear-gradient(to right, transparent 0%, rgba(33, 22, 22, 0.70) 0), url(img/accesories.png);
    margin-top: 2.7%;
    justify-content: center;
}

.offer__img {
    position: relative;
    fill: rgba(33, 22, 22, 0.70);
}

.tekst_sverhu {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.subtitle_offer {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title_offer {
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* .products {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.title_products {
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.tekst_products {
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 6px;
    text-align: center;
}

.cards_products {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, 360px);
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 48px;
}

.cards_products_catalog {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, 360px);
    justify-content: center;
    margin-bottom: 48px;
}

.product {
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.text_product {
    display: flex;
    flex-direction: column;
    fill: #F8F8F8;
    padding: 24px 16px;
    gap: 16px;
    background-color: rgba(248, 248, 248, 1);
}

.product:hover .img_product {
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
}

.product:hover .product__add {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.product__add {
    position: absolute;
    top: 188px;
    left: 111px;
    border: 1px solid #fff;
    width: 139px;
    height: 44px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 11px;
    color: #FFFFFF;
}

.product__add:hover {
    -webkit-box-shadow: 0 0 5px #fff;
    box-shadow: 0 0 5px #fff;
}

.product__add:hover svg path {
    fill: #F16D7F;
}

.img_product2_fon {
    position: relative;
}

.img_product2 {
    position: absolute;
    padding-top: 9px;
}

.title_product {
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.desc_product {
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.price_product {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.products__nav {
    margin-top: 48px;
    margin-bottom: 96px;
    gap: 16px;
    border: 1px solid #EBEBEB;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 284px;
    height: 43px;
    margin-left: calc(50% - 142px);
    margin-right: calc(50% - 142px);
    background-color: #FFF;

    text-align: center;
    text-decoration: none;

    &__link {
        color: #C4C4C4;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    &__link-open {
        color: $colorSelectSite;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
}

// .products__nav__link:hover {
//     color: white;
//     background-color: #F16D7F;
// }

.feature-box {
    min-height: 341px;
    background-color: #222224;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.feature {
    min-height: 134px;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature__head {
    padding-top: 28px;
    padding-bottom: 16px;
    color: #FBFBFB;
    font-size: 19.96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.feature__text {
    color: #FBFBFB;
    text-align: center;
    font-size: 13.972px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.subscribe-box {
    min-height: 448px;
    background: linear-gradient(to right, transparent 0%, rgba(244, 244, 244, 0.70) 0), url(img/Layer\ 41.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.subscribe-info {
    min-height: 225px;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.subscribe-info__text {
    min-height: 99px;
    color: #222224;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subscribe-info__txt {
    font-style: italic;
}

.subscribe {
    min-height: 142px;
    max-width: 557px;

}

.subscribe__head {
    color: #222224;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 167.2%;
    /* 40.128px */
}

.subscribe__text {
    color: #222224;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 167.2%;
}

.subscribe__email {
    padding-top: 32px;

}

.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input__bg {
    height: 49px;
    width: 256px;
    background-image: url(img/Rounded\ Rectangle\ 5.svg);
}

.button__bg {
    height: 49px;
    width: 100px;
    background-image: url(img/Rounded\ Rectangle\ 5\ copy.svg);
}

.form__input {
    width: 170px;
    height: 36px;
    margin-top: 7px;
    margin-right: 64px;
    margin-bottom: 6px;
    margin-left: 22px;
    background-color: #E1E1E1;
    border: 1px solid #E1E1E1;
    color: #222224;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form__button {
    width: 85px;
    height: 36px;
    margin-top: 7px;
    margin-right: 7px;
    margin-bottom: 6px;
    margin-left: 8px;
    background-color: #F16D7F;
    border: 1px solid #F16D7F;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form__button:hover {
    color: blue;
}

.form__button:active {
    color: black;
}

.copyright-box {
    min-height: 79px;
    background-color: #222224;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.copyright__txt {
    min-height: 19px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #FBFBFB;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.icons {
    min-height: 32px;
    padding-top: 24px;
    padding-bottom: 23px;
    display: flex;
    align-items: center;
    gap: 7px;

}

.social__link {
    min-height: 32px;
    width: 32px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__link:hover {
    background-color: #F16D7F;
}

.social__link:hover path {
    fill: white;
}

@media screen and (min-width: 768px) and (max-width: 1139px) {
    .accesories {
        min-height: 116px;
    }

    .header {
        padding-left: 32px;
        padding-right: 18px;
    }

    .page {
        background: #F1E4E6;
        display: flex;
        max-width: 1140px;
    }

    .feature-box {
        padding-top: 48px;
        padding-bottom: 64px;
        flex-direction: column;
        gap: 48px;
    }

    .subscribe-box {
        padding-top: 64px;
        padding-bottom: 140px;
        flex-direction: column;
        gap: 48px;
    }

    /* .page_img {
        min-height: 368px;
    } */
}

@media screen and (max-width: 767px) {
    .header {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header__link-site {
        display: none;
    }

    .page {
        /* background: #F1E4E6;
        display: flex;
        max-width: 1140px; */
        min-height: 363px;
    }

    .page_img {
        display: none;
    }

    /* .page_text { */
    /* width: 100%; */
    /* display: flex; */
    /* padding-left: 14.93%; */
    /* padding-top: 37.95%; */
    /* } */

    .page_text {
        width: 100%;
        display: flex;
        /* padding-left: 14.93%; */
        /* padding-top: 37.95%; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }

    .slogan {

        margin-top: 0;
    }

    /* .page_text { */
    /* width: 50%; */
    /* display: flex; */
    /* padding-left: 7.62%; */
    /* padding-top: 37.95%; */
    /* } */

    .title {
        font-size: 38px;
    }

    .subtitle {
        font-size: 20px;
    }

    .slogan__fashion {
        font-size: 20px;
        line-height: normal;
    }

    .people {
        /* display: flex;
        justify-content: space-between;
        gap: 2.63%; */
        /* width: 31.58%; */
        flex-wrap: wrap;
        gap: 32px;
    }

    .women {
        /* display: flex;
        align-items: center;
        background-image: url(img/women.png);
        justify-content: center; */
        width: 100%;
        background-position: center;
        background-size: auto;
        background-repeat: no-repeat;
    }

    .man {
        /* display: flex;
        align-items: center; */
        /* background-image: url(img/men.png); */
        /* justify-content: center; */
        width: 100%;
        background-position: center;
        background-size: auto;
        background-repeat: no-repeat;
    }

    .kids {
        /* display: flex;
        align-items: center;
        background-image: url(img/kids.png);
        justify-content: center; */
        width: 100%;
        background-position: center;
        background-size: auto;
        background-repeat: no-repeat;
    }

    .accesories {
        min-height: 111px;
        background-position-x: center;
        background-size: cover;
        margin-top: 32px;
        margin-left: calc(50% - 179px);
        margin-right: calc(50% - 179px);
    }

    .acces {
        min-height: 111px;

    }

    .offer {
        margin-bottom: 64px;
    }

    .feature-box {
        padding-top: 48px;
        padding-bottom: 81px;
        flex-direction: column;
        gap: 47px;
    }

    .subscribe-box {
        padding-top: 64px;
        padding-bottom: 110px;
        flex-direction: column;
        gap: 59px;
    }

    .copyright-box {
        padding-top: 43px;
        padding-bottom: 9px;
        flex-direction: column-reverse;
        gap: 40px;
    }
}